@media (max-width: 1115px) {
  .about-us__desc {
    flex-direction: column;
    gap: 30px;
  }
  .about-us__text {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
  .address__info {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .arrow-btn {
    display: none;
  }
  .burger {
    display: block;
  }
  .page-header__nav {
    display: none;
  }
}
@media (max-width: 720px) {
  .contacts__messengers {
    flex-direction: column;
    gap: 30px;
  }
  .messengers {
    width: 315px;
  }
}