@media (max-width: 1115px) {
  .about-us__desc {
    flex-direction: column;
    gap: 30px;
  }
  .about-us__text {
    text-align: center;
  }
  .about-us__text-block {
    margin: 0 auto;
    width: 75%;
  }
}
@media (max-width: 900px) {
  .arrow-btn {
    display: none;
  }
  .burger {
    display: block;
  }
  .page-header__nav {
    display: none;
  }
}
@media (max-width: 850px) {
  .about-us__text {
    height: 150px;
    overflow: hidden;
  }
  .about-us__open-text {
    display: block;
    background: transparent;
  }
  .my-works {
    background-position-x: -150px;
  }
}
@media (max-width: 720px) {
  .record__messengers {
    flex-direction: column;
    gap: 30px;
  }
  .messengers {
    width: 315px;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .my-works {
    background-position-x: -300px;
    background-position-y: -30px;
    background-repeat: repeat;
  }
  .my-works__heading {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 5px #606060;
  }
  .price__list {
    width: 80%;
  }
  .my-works__item {
    width: 400px;
    max-width: 100%;
  }
}
@media (max-width: 470px) {
  .about-us__text-block {
    width: 100%;
  }
  .about-us__text {
    line-height: 24px;
    width: 100%;
  }
  .price__bg {
    width: 100%;
  }
  .price__list {
    width: 90%;
  }
  .record {
    background-position-x: -150px;
  }
}
@media (max-width: 390px) {
  .phone {
    font-size: 28px;
  }
}
@media (max-width: 360px) {
  .price__item {
    font-size: 20px;
  }
}
@media (max-width: 346px) {
  .my-works__heading {
    padding: 10px;
  }
  .price__item {
    font-size: 20px;
  }
}