* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "MorfinSans";
  src: url("../fonts/MorfinSans-Regular.woff2") format("woff2"), url("../fonts/MorfinSans-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: MorfinSans;
  text-transform: uppercase;
  text-align: center;
}

.wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  font-size: 60px;
  margin: 0 0 30px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
}

.arrow {
  display: grid;
  align-items: center;
}

.arrow-btn {
  border-radius: 100%;
}

.arrow-img {
  display: block;
  width: 50px;
  height: 50px;
}

.hide {
  display: none !important;
}

.page-header {
  color: #fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 0 2px #000000;
  background-color: #000000;
}

.page-header__row {
  display: flex;
  justify-content: space-between;
}

.page-header__img {
  margin: 0 10px 0 0;
  width: 50px;
  height: 50px;
}

.page-header__logo-text {
  margin: 5px 0 0 0;
  font-size: 50px;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.page-header__link {
  font-size: 24px;
  color: #fff;
  position: relative;
  transition: transform 0.3s;
}
.page-header__link::before {
  transition: 0.2s;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  transform: scale(0);
}
@media (hover: hover) and (pointer: fine) {
  .page-header__link:hover::before {
    transform: scale(1.2);
  }
}

.burger {
  display: none;
  background-color: transparent;
}

.burger__img {
  width: 40px;
  height: 40px;
}

.page-main {
  width: 100%;
  flex: 1 1 auto;
  margin: 65px 0 0 0;
}

.page-main__section {
  padding: 60px 0;
}

.about-us {
  font-size: 24px;
  color: #d2d2d2;
  background: url("../img/bg1.jpg") no-repeat;
  background-size: cover;
}

.about-us__desc {
  display: flex;
}

.about-us__text {
  text-align: left;
  margin: 0 20px 0 0;
}

.address__btn {
  background-color: rgba(255, 255, 255, 0.5);
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address__slider {
  justify-content: center;
  gap: 10px;
}

.address__info {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 0;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  box-shadow: 0 0 10px #131313;
}

.address__img {
  width: 400px;
  border-radius: 20px;
}

.my-works {
  background: url("../img/bg9.jpg") no-repeat;
  background-size: cover;
}

.my-works__heading {
  color: #000000;
}

.my-works__slider {
  justify-content: space-evenly;
}

.my-works__item {
  width: 60%;
  max-height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.my-works__btn {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px #000;
}

.price {
  color: #d2d2d2;
  font-size: 24px;
  background: url("../img/bg3.jpg") no-repeat;
  background-size: cover;
}

.price__heading {
  color: #fff;
}

.price__bg {
  padding: 40px 0;
  margin: 0 auto;
  width: 85%;
  background-color: #1a1a1a;
}

.price__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  width: 40%;
}

.price__item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.price__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #d2d2d2;
}

.contacts {
  color: #000;
  background: url("../img/bg4.jpg");
  background-size: cover;
  background-position-y: -50px;
}

.contacts__subtitle {
  font-size: 36px;
  margin: 0 0 40px 0;
}

.contacts__messengers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0;
  border-radius: 20px;
  box-shadow: 0 0 5px #606060;
  background-color: #222222;
}

.phone {
  color: #d2d2d2;
  font-size: 36px;
}

.messengers {
  display: flex;
  justify-content: space-between;
  width: 285px;
  padding: 10px 40px;
  border-radius: 20px;
  box-shadow: 0 0 5px #606060;
  background-color: #1a1a1a;
}

.messenger__img {
  width: 70px;
  height: 70px;
}

.page-footer {
  width: 100%;
  padding: 15px 0;
  background-color: #1a1a1a;
}

.page-footer__logo {
  justify-content: center;
}

.page-footer__img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
}

.page-footer-logo-text {
  margin: 2px 0 0 0;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1115px) {
  .about-us__desc {
    flex-direction: column;
    gap: 30px;
  }
  .about-us__text {
    margin: 0 auto;
    text-align: center;
    max-width: 520px;
  }
}
@media (max-width: 900px) {
  .arrow-btn {
    display: none;
  }
  .burger {
    display: block;
  }
  .page-header__nav {
    display: none;
  }
}
@media (max-width: 720px) {
  .contacts__messengers {
    flex-direction: column;
    gap: 30px;
  }
  .messengers {
    width: 315px;
  }
}