@media (max-width: 1115px) {
    .about-us__desc {
      flex-direction: column;
      gap: 30px;
    }

    .about-us__text {
      margin: 0 auto;
      text-align: center;
      width: 75%;
    }  
}

@media (max-width: 900px) {
    .arrow-btn {
        display: none;
    }

    .burger {
      display: block;
    }

    .page-header__nav {
      display: none;
    }

    .price__item {
        // font-size: 28px;
    }

}

@media (max-width: 720px) {
    .contacts__messengers {
        flex-direction: column;
        gap: 30px;
    }

    .messengers {    
        width: 315px;
        max-width: 100%;
    }
    
}

@media (max-width: 600px) {
    .price__list {
        width: 80%;
    }   
}

@media (max-width: 470px) {
    .about-us__text {
      width: 100%;
    }

    // .price__item {
    //     font-size: 20px;
    // }
    .price__bg {
        width: 100%;
    }   

    .price__list {
        width: 90%;
    }   
}

@media (max-width: 390px) {
    .phone {
        font-size: 28px;
    } 
}

@media (max-width: 360px) {
    .price__item {
        font-size: 20px;
    } 
}