@import "nullstyle.scss";
@font-face {
    font-family: 'MorfinSans';
    src: url('../fonts/MorfinSans-Regular.woff2') format('woff2'),
        url('../fonts/MorfinSans-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


// -------------- ОБЩИЕ СТИЛИ  -------------- 

body {
    font-family: MorfinSans;
    text-transform: uppercase;
    text-align: center;
}

.wraper {
    display: flex;
    flex-direction: column;

    min-width: 320px;
    height: 100%;

    position: relative;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    font-size: 60px;
    margin: 0 0 30px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: center;
}

.arrow {
    display: grid;
    align-items: center;
}

.arrow-btn {
    border-radius: 100%;
}

.arrow-img {
    display: block;

    width: 50px;
    height: 50px;


}

.hide {
    display: none!important;
}

// -------------- PAGE-HEADER  -------------- 

.page-header {
    color: #fff;
    position: fixed;
    z-index: 1000;

    width: 100%;
    padding: 5px 0;

    box-shadow: 0 0 2px #000000;  
    background-color: #000000;  
}

.page-header__row {
    display: flex;
    justify-content: space-between;
}

.page-header__img {
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
}

.page-header__logo-text {
    margin: 5px 0 0 0;
    
    font-size: 50px;
}

.page-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.page-header__link {
    font-size: 24px;
    color: #fff;
    position: relative;
    transition: transform 0.3s;

    &::before {
        transition: 0.2s;
        content: "";
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 3px;
        border-radius: 2px;
        
        background-color: #fff;
        transform: scale(0);
    }
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            &::before {
                transform: scale(1.2);
            }
        }        
    }
}

.burger {
    display: none;
    background-color: transparent;
}

.burger__img {
    width: 40px;
    height: 40px;
}


// -------------- PAGE-MAIN  -------------- 

.page-main {
    width: 100%;
    flex: 1 1 auto;

    margin: 65px 0 0 0;
}

.page-main__section{
    padding: 60px 0;
}



// -------------- ABOUT-US  -------------- 

.about-us {
    padding-top: 30px;
    font-size: 24px;
    color: #d2d2d2;
    background: url('../img/bg1.jpg') no-repeat;
    background-size: cover;
}

    

.about-us__desc {
    display: flex;
}

.about-us__text {
    text-align: left;
    margin: 0 20px 0 0;
}

.address__btn {
    background-color: rgba(255, 255, 255, 50%);
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address__slider {
    justify-content: center;
    gap: 10px;
}

.address__info {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    width: 400px;
    max-width: 100%;
    gap: 10px;

    background-color: rgba(0, 0, 0, 75%);
    border-radius: 20px;
    box-shadow: 0 0 10px #131313;
}

.address__img {
    border-radius: 20px;
}
.address__text {
}


// -------------- MY-WORKS  -------------- 

.my-works {
    background: url('../img/bg9.jpg') no-repeat;
    background-size: cover;
}

.my-works__heading {
    display: inline-block;
    color: #000000;
}

.my-works__slider {
    justify-content: space-evenly;
}

.my-works__item {
    width: 75%;
    max-height: 500px;
    border-radius: 20px;

    box-shadow: 0 0 10px;

    object-fit: cover;
}

.my-works__btn {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    box-shadow: 0 0 5px #000;
}


// -------------- PAGE-PRICE  -------------- 

.price {
    color: #d2d2d2;
    background: url('../img/bg3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.price__heading {
    color: #fff;
}

.price__bg {
    padding: 40px 0;
    margin: 0 auto;
    width: 85%;
    background-color: #1a1a1a;
}

.price__list {
    display: flex;
    flex-direction: column;

    gap: 30px;
    margin: 0 auto;

    width: 387px;

}

.price__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 24px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;

        height: 3px;
        width: 100%;

        background-color: #d2d2d2;
    }


}


// -------------- record  -------------- 

.record {
    color: #000;
    background: url('../img/bg4.jpg');
    background-size: cover;
    background-position-y: -50px;

}

.record__heading {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;

    color: #fff;
    background-color: rgba($color: #000, $alpha: 0.6);

}

.record__subtitle {
    display: inline-block;

    margin: 0 0 40px 0;
    padding: 10px;
    border-radius: 20px;

    color: #fff;
    font-size: 36px;
    background-color: rgba($color: #000, $alpha: 0.6);
}

.record__messengers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    max-width: 855px;
    padding: 40px 20px;
    margin: 0 auto;

    border-radius: 20px;
    box-shadow: 0 0 5px #606060;
    
    background-color: #222222;
}

.phone {
    color: #d2d2d2;
    font-size: 36px;
    max-width: 315px;
}

.messengers {
    display: flex;
    justify-content: space-between;

    width: 285px;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px #606060;

    background-color: #1a1a1a;
}

.messenger__link {

}

.messenger__img {
    width: 70px;
    height: 70px;
}


// -------------- PAGE-FOOTER  -------------- 

.page-footer {
    width: 100%;
    padding: 15px 0;
    background-color: #1a1a1a;
}

.page-footer__logo {
    justify-content: center;
}

.page-footer__img {
    width: 20px;
    height: 20px;  
    margin: 0 5px 0 0;  
}

.page-footer-logo-text {
    margin: 2px 0 0 0;
    font-size: 20px;

    color: #fff;
}

@import "adaptive.scss";
