@font-face {
    font-family: 'MorfinSans';
    src: url('MorfinSans-Regular.woff2') format('woff2'),
        url('MorfinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

