<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="static/img/logo-red.svg">
    <title>Тату салон BULAD</title>
</head>
<body>
  <div class="wraper">
    <header class="page-header">
      <div class="container">
        <div class="page-header__row">
          <div class="logo">
            <img src="static/img/logo.svg" alt="logo" class="page-header__img logo__img">
            <h1 class="page-header__logo-text logo__text">BULAD</h1>
          </div>
          <nav class="page-header__nav">
            <a href="#about-us" class="page-header__link">О нас</a>
            <a href="#my-works" class="page-header__link">Мои работы</a>
            <a href="#price" class="page-header__link">Цены</a>
            <a href="#record" class="page-header__link">Запись на приём</a>
            <a href="#review" class="page-header__link">Отзывы</a>
          </nav>
          <button type="button" class="burger">
            <img src="static/img/burger-menu.svg" alt="burger-menu" class="burger__img">
          </button>
        </div>
      </div>
    </header>
  
    <main class="page-main">
      <section id="about-us" class="about-us page-main__section">
        <div class="container">
            <h2 class="heading">О нас</h2>
            <div class="about-us__desc">
                <div class="about-us__text-block">
                    <p class="about-us__text">
                        {{ text_about_us.text }}
                    </p>
                    <button type="button" class="about-us__open-text">
                        <img src="static/img/arrow-down-1.svg" alt="arrow-down" class="about-us__arrow-down about-us__arrow">
                        <img src="static/img/arrow-up.svg" alt="arrow-up" class="about-us__arrow-up hide about-us__arrow">
                    </button>
                </div>
                <div class="address">
                  <div class="address__bg">
                    <div class="address__slider slider"> 
                      <div class="address__imgs">
                          {% for image in images %}
                            <img src="{{ image.img.url }}" alt="image.img" class="address__img">
                          {% endfor %}
<!--                          <img src="static/img/tatu.jpg" alt="tatu" class="address__img">-->
<!--                          <img src="static/img/room.jpg" alt="room" class="address__img">-->
                      </div>              
                      <div class="address__arrow arrow arrow--left">
                          <button class="address__btn address__btn--left arrow-btn">
                              <img src="static/img/arrow-left-1.svg" alt="arrow-left" class="arrow-img">
                          </button>
                      </div>

                      <div class="address__arrow arrow arrow--right">
                          <button class="address__btn address__btn--right arrow-btn">
                              <img src="static/img/arrow-right-1.svg" alt="arrow-right" class="arrow-img">
                          </button>
                      </div>
                    </div>
                    <p class="address__text">Адрес: Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
            </div>
        </div>
     </section>

      <section id="my-works" class="my-works page-main__section">
        <div class="container">
          <h2 class="my-works__heading heading">Мои работы</h2>
          <div class="my-works__slider slider">
            <div class="my-works__imgs">

              <img src="static/img/tatu2.jpg" alt="tatu2" class="my-works__item">
              <img src="static/img/tatu3.jpg" alt="tatu3" class="my-works__item">
              <img src="static/img/tatu1.jpeg" alt="tatu1" class="my-works__item">
              <img src="static/img/tatto.jpg" alt="tatu3" class="my-works__item">

            </div>
            <div class="arrow arrow--left">
              <button class="my-works__btn my-works__btn--left arrow-btn">
                <img src="static/img/arrow-left-1.svg" alt="arrow-left" class="arrow-img">
              </button>
            </div>

            <div class="arrow arrow--right">
              <button class="my-works__btn my-works__btn--right arrow-btn">
                <img src="static/img/arrow-right-1.svg" alt="arrow-right" class="arrow-img">
              </button>
            </div>
          </div>
        </div>
      </section>

      <section id="price" class="price page-main__section">
        <div class="container">
          <div class="price__bg">
            <h2 class="price__heading heading">Цены</h2>
            <ul class="price__list">
              <li class="price__item"><p>Татуировка</p> <p>1500р</p></li>
              <li class="price__item"><p>Исправление татуировки</p> <p>1500р</p></li>
              <li class="price__item"><p>Перекрытие татуировки</p> <p>2000р</p></li>
              <li class="price__item"><p>Реставрация татуировки</p> <p>1500р</p></li>
            </ul>
          </div>
        </div>
      </section>

      <section id="record" class="record page-main__section">
        <div class="container">
          <h2 class="record__heading heading">Запись на приём</h2>
          <h3 class="record__subtitle">Для записи на приём позвоните или напишите в мессенджеры</h3>
          <div class="record__messengers">
            <p class="phone">Тел: +7(999) 999-99-99</p>
            <div class="messengers">
              <a href="#!" class="messenger__link"><img src="static/img/viber.svg" alt="viber" class="messenger__img"></a>
              <a href="#!" class="messenger__link"><img src="static/img/whatsapp-1.svg" alt="whatsapp" class="messenger__img"></a>
            </div>
          </div>
        </div>
      </section>
      
      <section id="review" class="review page-main__section hide">
        <div class="container">
          <h2 class="heading">отзывы</h2>
          <div class="review__slider slider">
            <div class="arrow">
              <button class="review__btn arrow-btn">
                <img src="static/img/arrow-left.svg" alt="arrow-left" class="arrow-img">
              </button>
            </div>
            <div class="arrow">
              <button class="review__btn arrow-btn">
                <img src="static/img/arrow-rigth.svg" alt="arrow-rigth" class="arrow-img">
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
  
    <footer class="page-footer">
      <div class="container">
        <div class="page-footer__logo logo">
          <img src="static/img/logo.svg" alt="logo" class="page-footer__img logo__img">
          <h1 class="page-footer-logo-text logo__text">BULAD</h1>
        </div>
      </div>  
    </footer>
    <script src="static/js/main.js"></script>
  </div>
</body>
</html>